[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ANOFA"]
	path = ANOFA
	url = https://github.com/dcousin3/anofa
[submodule "ANOPA"]
	path = ANOPA
	url = https://github.com/dcousin3/anopa
[submodule "CohensdpLibrary"]
	path = CohensdpLibrary
	url = https://github.com/dcousin3/cohensdplibrary
[submodule "superb"]
	path = superb
	url = https://github.com/dcousin3/superb
